footer{  
  display: flex;
  justify-content: center;
  background-color: var(--font-color);
  color: var(--bg-color);
  font-size: var(--main-info-font-size); 
}

.footer-wrapper{
  display: flex;
  justify-content: space-between;
  width: 94%;
}

.githubs {
  list-style: none;
  margin: auto;
}

.rs-logo {
  color: var(--bg-color);
  margin: auto;
  font-size: var(--title-font-size);
  font-weight: bold;
}

.app-name {
  margin: auto;
  flex-grow: 1;
  text-align: center;
  color: var(--bg-color);
}

.git-logo {
  margin-right: 10px;
  vertical-align: middle;
}

.git-link {
  display: table;
}

.git {
  margin: auto;
  color: var(--bg-color);
}