<div>
  <a href="https://rs.school/js/" class="rs-logo">
    <img src="../../assets/icons/courseLogo.svg" class="rs-logo" width="200px">
  </a>

  <a href="https://online-store-rs.netlify.app/" class="app-name">Quickpart-2023</a>

  <ul class="githubs">
    <li class="git-link"><a href="https://github.com/timashoff" class="git"><img src="../../assets/icons/github.svg"
          class="git-logo">timashoff</a></li>
    <li class="git-link"><a href="https://github.com/sosiskaki11er" class="git"><img src="../../assets/icons/github.svg"
          class="git-logo">sosiskaki11er</a></li>
  </ul>
</div>