@font-face {
  font-family: 'JetBrains Mono', monospace;
  src: url(./assets/fonts/JetBrainsMono-Regular.ttf);
}

:root {
  --bg-color: #fff;
  --font-color: #000;
  --grey-color: #999;
  --orange-color: #f60;
  --orange-color-hover: rgba(255, 102, 0, 0.8);
  --main-info-color: #333;
  --main-info-color-hover: rgba(51, 51, 51, 0.9);

  --main-info-font-size: 18px;
  /* 1.125 rem */
  --path-font-size: 14px;
  /* 0.875 rem */
  --title-font-size: 24px;
  /* 1.5 rem */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'JetBrains Mono', monospace;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
}

main {
  padding: 100px;
  display: flex;
  justify-content: center;
  background-color: red;
}

a:link,
a:visited {
  text-decoration: none
}