.githubs {
  list-style: none;
  margin: auto;
}

footer {
  font-size: var(--title-font-size);
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  border-top: solid 2px white;
  height: 120px;
  background-color: var(--font-color);
}

.rs-logo {
  width: 200px;
  margin: auto;
}

.app-name {
  margin: auto;
  flex-grow: 1;
  text-align: center;
  color: var(--bg-color);
}

.git-logo {
  margin-right: 10px;
  vertical-align: middle;
}

.git-link {
  display: table;
}

.git {
  margin: auto;
  color: var(--bg-color);
}